<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>myStore</title>
    <link
      rel="shortcut icon"
      href="./assets/view/img/favicon.jpg"
      type="image/jpeg"
    />
    <!-- bootstrap css -->
    <link
      rel="stylesheet"
      href="/assets/view/bootstrap/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/assets/view/style/main-css/main.css" />
  </head>
  <body>
    <div id="root"></div>
    <script src="/assets/view/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="/assets/controller/js/aboutus.js"></script>
  </body>
</html>
